.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: calc(1.4 * 100px);
  -webkit-animation: float 1.3s ease-in-out infinite;
          animation: float 1.3s ease-in-out infinite;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  margin: 10px 5px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card.flipped {
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .side {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card .front {
  background-color: #17316a;
  -webkit-transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s ease-out, left 0.2s ease-out;
  transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s ease-out, left 0.2s ease-out;
}

.card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: url("https://poketaz.weebly.com/uploads/4/9/7/8/4978776/6169581_orig.jpg");
  background-size: 102% 102%;
}

.card:hover {
  -webkit-animation: none;
          animation: none;
  z-index: 100;
}

.card:hover .side.front {
  width: 300px;
  height: calc(1.4 * 300px);
  position: relative;
  top: calc((-1 * (1.4 * 300px) / 2) + ((1.4 * 100px) / 2));
  left: calc((-1 * 300px / 2) + (100px / 2));
}

.input-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 50px auto;
}

.input-wrapper input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-bottom: 3px solid #888;
  background-color: transparent;
  font-size: 32px;
  padding: 10px;
}

.input-wrapper input:focus {
  outline: none;
}

.input-wrapper::after {
  content: '';
  display: block;
  background: url("http://pre04.deviantart.net/d8c4/th/pre/i/2016/158/e/0/flat_pokeball_by_himitsunochikara-d6v7eyk.png") center/125% no-repeat;
  position: absolute;
  right: 0px;
  bottom: 16.5%;
  height: 66%;
  width: 40px;
  -webkit-animation: spinner 0.8s ease-in-out infinite;
          animation: spinner 0.8s ease-in-out infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.input-wrapper.loading::after {
  opacity: 1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
  }
  90% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
  }
  100% {
    -webkit-transform: rotateY(290deg);
            transform: rotateY(290deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
  }
  90% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
  }
  100% {
    -webkit-transform: rotateY(290deg);
            transform: rotateY(290deg);
  }
}

@-webkit-keyframes float {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}

@keyframes float {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: arial;
}

:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --charizard1: #fac;
  --charizard2: #ddccaa;
  --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);
  --pika1: #54a29e;
  --pika2: #a79d66;
  --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp);
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
  --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp);
}

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  -ms-touch-action: none;
      touch-action: none;
  border-radius: 5% / 3.5%;
  -webkit-box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  transition: transform 0.5s ease, box-shadow 0.2s ease, -webkit-transform 0.5s ease, -webkit-box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card:hover {
  -webkit-box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  -webkit-transition: all .33s ease;
  transition: all .33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: .5;
  -webkit-filter: brightness(0.5) contrast(1);
          filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transition: all .33s ease;
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.card.active:after,
.card:hover:after {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: -webkit-box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  -webkit-filter: brightness(0.66) contrast(1.33);
          filter: brightness(0.66) contrast(1.33);
  -webkit-transition: none;
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: none;
  transition: none;
}

.card.animated {
  -webkit-transition: none;
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
          animation: holoCard 12s ease 0s 1;
}

.card.animated:before {
  -webkit-transition: none;
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
          animation: holoGradient 12s ease 0s 1;
}

.card.animated:after {
  -webkit-transition: none;
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
          animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: .75;
    background-position: 50% 50%;
    -webkit-filter: brightness(1.2) contrast(1.25);
            filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    -webkit-filter: brightness(0.8) contrast(1.2);
            filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5;
    background-position: 50% 50%;
    -webkit-filter: brightness(1.2) contrast(0.8);
            filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    -webkit-filter: brightness(1) contrast(1);
            filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33;
    background-position: 45% 45%;
    -webkit-filter: brightness(1.2) contrast(1.25);
            filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: .75;
    background-position: 50% 50%;
    -webkit-filter: brightness(1.2) contrast(1.25);
            filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    -webkit-filter: brightness(0.8) contrast(1.2);
            filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5;
    background-position: 50% 50%;
    -webkit-filter: brightness(1.2) contrast(0.8);
            filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    -webkit-filter: brightness(1) contrast(1);
            filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33;
    background-position: 45% 45%;
    -webkit-filter: brightness(1.2) contrast(1.25);
            filter: brightness(1.2) contrast(1.25);
  }
}

@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    -webkit-filter: brightness(0.5) contrast(1);
            filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    -webkit-filter: brightness(0.75) contrast(1.25);
            filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    -webkit-filter: brightness(0.5) contrast(1);
            filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    -webkit-filter: brightness(0.75) contrast(1.25);
            filter: brightness(0.75) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    -webkit-filter: brightness(0.5) contrast(1);
            filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    -webkit-filter: brightness(0.75) contrast(1.25);
            filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    -webkit-filter: brightness(0.5) contrast(1);
            filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    -webkit-filter: brightness(0.75) contrast(1.25);
            filter: brightness(0.75) contrast(1.25);
  }
}

@-webkit-keyframes holoCard {
  0%, 100% {
    -webkit-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    -webkit-transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
            transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    -webkit-transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
            transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    -webkit-transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
            transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    -webkit-transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
            transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

@keyframes holoCard {
  0%, 100% {
    -webkit-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    -webkit-transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
            transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    -webkit-transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
            transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    -webkit-transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
            transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    -webkit-transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
            transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

.card.eevee:hover {
  -webkit-box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before,
.card.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

#app {
  position: relative;
}

.demo,
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  position: relative;
  z-index: 1;
  -webkit-transform: translate3d(0.1px, 0.1px, 0.1px);
          transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cards .card:nth-child(2), .cards .card:nth-child(2):before, .cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.cards .card:nth-child(3), .cards .card:nth-child(3):before, .cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.cards .card:nth-child(4), .cards .card:nth-child(4):before, .cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

:root {
  --text-color: #111;
  --bg-color: #b9b3a9;
}

body {
  font-family: termina, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

section:not(#sectionPin) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

img {
  height: 80vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 4;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 16vw;
  }
}

h1 span {
  display: block;
}

h2 {
  font-size: 2rem;
  max-width: 400px;
}

.credit {
  font-family: Termina, sans-serif;
}

.credit a {
  color: var(--text-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}

p {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardgen_body {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #209cff), color-stop(200%, #68e0cf));
  background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardgen_body button {
  border: 0;
  outline: 0;
}

.cardgen_container {
  margin: 40px 0;
  width: 400px;
  height: 600px;
  padding: 10px 25px;
  background: #0a0e31;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat";
}

.cardgen_container h2.title {
  font-size: 1.75rem;
  margin: 10px -5px;
  margin-bottom: 30px;
  color: #fff;
}

.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
}

.result__info {
  position: absolute;
  bottom: 4px;
  color: #fff;
  font-size: 0.8rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
}

.result__info.right {
  right: 8px;
}

.result__info.left {
  left: 8px;
}

.result__viewbox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  line-height: 65px;
}

.result #copy-btn {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  z-index: 2;
}

.result #copy-btn:active {
  -webkit-box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
          box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}

.result:hover #copy-btn {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.35);
          transform: translate(-50%, -50%) scale(1.35);
}

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.options {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin: 30px 0;
}

.range__slider::before, .range__slider::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.range__slider::before {
  content: attr(data-min);
  left: 10px;
}

.range__slider::after {
  content: attr(data-max);
  right: 10px;
}

.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: #fff;
}

#slider {
  -webkit-appearance: none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.314);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

.settings {
  position: relative;
  height: auto;
  widows: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings .setting {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  color: #fff;
  margin-bottom: 8px;
}

.settings .setting input {
  opacity: 0;
  position: absolute;
}

.settings .setting input + label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings .setting input + label::before, .settings .setting input + label::after {
  content: "";
  position: absolute;
  -webkit-transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}

.settings .setting input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}

.settings .setting input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}

.settings .setting input:checked + label:before {
  background: #5d68e2;
  -webkit-transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}

.settings .setting input:checked + label:after {
  right: 14px;
}

.settings .setting input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

.settings .setting input:disabled + label:before, .settings .setting input:disabled + label:after {
  cursor: not-allowed;
}

.settings .setting input:disabled + label:before {
  background: #4f4f6a;
}

.settings .setting input:disabled + label:after {
  background: #909090;
}

.btn.generate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 8px;
  color: #fff;
  border: none;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.btn.generate:active {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  -webkit-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
          box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

a:hover {
  color: #222;
}

.github-corner svg {
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: darken;
  color: #eeeeee;
  fill: #353535;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave .56s;
          animation: octocat-wave .56s;
}

@-webkit-keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=styles.css.map */